In [97]:
import pandas as pd
import numpy as np

In [98]:
data = [
    {
        "country": "Afghanistan",
        "confirmedDay": 6,
        "population": 39835428
    },
    {
        "country": "Afghanistan",
        "confirmedDay": 6,
        "population": 39835428
    },
    {
        "country": "Afghanistan",
        "confirmedDay": 8,
        "population": 39835428
    },
    {
        "country": "Afghanistan",
        "confirmedDay": 34,
        "population": 39835428
    },
    {
        "country": "Afghanistan",
        "confirmedDay": 29,
        "population": 39835428
    },
    {
        "country": "Afghanistan",
        "confirmedDay": 30,
        "population": 39835428
    },
    {
        "country": "Afghanistan",
        "confirmedDay": 56,
        "population": 39835428
    },
    {
        "country": "Afghanistan",
        "confirmedDay": 21,
        "population": 39835428
    },
    {
        "country": "Afghanistan",
        "confirmedDay": 34,
        "population": 39835428
    },
    {
        "country": "Afghanistan",
        "confirmedDay": 52,
        "population": 39835428
    },
    {
        "country": "Austria",
        "confirmedDay": 58,
        "population": 39835428
    }]

In [99]:
var = 'confirmedDay'

In [100]:
def country_one_var_df_map (core_df,var):
    columnas = ['country','population',var]
    core_df = pd.DataFrame(core_df, columns = columnas)
    core_df[var] = core_df[var] / core_df['population']
    core_df = core_df.drop(['population'],axis=1)
    core_df = core_df.sort_values(var)
    return core_df

In [101]:
def top_10_map (core_df):
    a = core_df.shape[0] - 10
    for x in list(range(0,a+1)):
        core_df = core_df.drop([x],axis=0)
    return core_df

In [102]:
data = country_one_var_df_map(data,var)
data

        country  confirmedDay
0   Afghanistan  1.506197e-07
1   Afghanistan  1.506197e-07
2   Afghanistan  2.008263e-07
7   Afghanistan  5.271689e-07
4   Afghanistan  7.279952e-07
5   Afghanistan  7.530985e-07
3   Afghanistan  8.535116e-07
8   Afghanistan  8.535116e-07
9   Afghanistan  1.305371e-06
6   Afghanistan  1.405784e-06
10      Austria  1.455990e-06

In [103]:
top_10_map(data)

        country  confirmedDay
1   Afghanistan  1.506197e-07
2   Afghanistan  2.008263e-07
7   Afghanistan  5.271689e-07
4   Afghanistan  7.279952e-07
5   Afghanistan  7.530985e-07
3   Afghanistan  8.535116e-07
8   Afghanistan  8.535116e-07
9   Afghanistan  1.305371e-06
6   Afghanistan  1.405784e-06
10      Austria  1.455990e-06