In [86]:
import pandas as pd
import numpy as np

In [88]:
df = pd.read_json('j.json')

In [89]:
df

,country,variant,latitude,longitude
0,Angola,Alpha,{'$numberDecimal': '-8.833333333333334'},{'$numberDecimal': '13.216667'}
1,Angola,B.1.1.277,{'$numberDecimal': '-8.833333333333334'},{'$numberDecimal': '13.216667'}
2,Angola,B.1.1.302,{'$numberDecimal': '-8.833333333333334'},{'$numberDecimal': '13.216667'}
3,Angola,B.1.1.519,{'$numberDecimal': '-8.833333333333334'},{'$numberDecimal': '13.216667'}
4,Angola,B.1.160,{'$numberDecimal': '-8.833333333333334'},{'$numberDecimal': '13.216667'}
...,...,...,...,...
83133,Zimbabwe,Lambda,{'$numberDecimal': '-17.816666666666666'},{'$numberDecimal': '31.033333'}
83134,Zimbabwe,Mu,{'$numberDecimal': '-17.816666666666666'},{'$numberDecimal': '31.033333'}
83135,Zimbabwe,Omicron,{'$numberDecimal': '-17.816666666666666'},{'$numberDecimal': '31.033333'}
83136,Zimbabwe,S:677H.Robin1,{'$numberDecimal': '-17.816666666666666'},{'$numberDecimal': '31.033333'}
83137,Zimbabwe,S:677P.Pelican,{'$numberDecimal': '-17.816666666666666'},{'$numberDecimal': '31.033333'}

In [100]:
def variants_map (core_df,var):
    import pandas as pd
    core_df = pd.DataFrame(core_df, columns = ['date', 'country','variant', 'year', 'latitude','longitude','continentExp'])
    core_df = core_df.drop(['year','continentExp','country','date'],axis=1)
    #core_df['date'] = core_df['date'].apply(lambda x: list(x.values())[0][0:10])
    core_df['latitude'] = core_df['latitude'].apply(lambda x: list(x.values())[0]).astype(float)
    core_df['longitude'] = core_df['longitude'].apply(lambda x: list(x.values())[0]).astype(float)
    core_df['variant'] = core_df['variant'].astype(str)
    #core_df['date'] = pd.to_datetime(core_df['date'])
    filter_fecha_final = core_df['variant'] == var
    core_df = core_df[filter_fecha_final]
    core_df = core_df.drop(['variant'],axis=1)
    core_df = core_df.drop_duplicates()
    core_df = core_df.reset_index(drop=True)
    return core_df

In [101]:
variants_map (df,'Omicron')

      latitude   longitude
0    -8.833333   13.216667
1   -34.583333  -58.666667
2    12.516667  -70.033333
3   -35.266667  149.133333
4    48.200000   16.366667
..         ...         ...
107  38.883333  -77.000000
108 -34.850000  -56.166667
109  21.033333  105.850000
110 -15.416667   28.283333
111 -17.816667   31.033333

[112 rows x 2 columns]