In [7]:
def fecha_int_transf (core_df):
    import pandas as pd
    core_df = pd.DataFrame(core_df, columns = ['date','confirmedDay', 'deathsDay'])
    #core_df = core_df.drop(['_id'], axis=1)
    core_df['date'] = core_df['date'].apply(lambda x: list(x.values())[0][0:7])
    #core_df['date'] = pd.to_datetime(core_df['date'])
    #core_df = core_df.set_index(['date'])
    core_df = core_df.sort_values(by='date', ascending=False)
    core_df = core_df.groupby('date').sum()
    return core_df

In [8]:
def fechaYW_int_transf (core_df):
    import pandas as pd
    core_df = pd.DataFrame(core_df, columns = ['_id', 'Year-Week','date','confirmedDay', 'deathsDay'])
    core_df = core_df.drop(['_id'], axis=1)
    core_df['date'] = core_df['date'].apply(lambda x: list(x.values())[0][0:10])
    core_df['date'] = pd.to_datetime(core_df['date'])
    core_df = core_df.groupby('Year-Week').sum()
    return core_df

In [9]:
db = [
    {
        "date": {
            "$date": "2020-03-23T00:00:00Z"
        },
        "continent": "Asia",
        "country": "Afghanistan",
        "totalConfirmed": 40,
        "totalDeaths": 1,
        "confirmedDay": 6,
        "deathsDay": 1,
        "icuPatients": "0",
        "hospPatients": "0",
        "positiveRate": {
            "$numberDecimal": "0.0"
        },
        "newVaccinations": 0,
        "vaccinatedPerHundred": {
            "$numberDecimal": "0.0"
        },
        "fullyVaccinatedPerHundred": {
            "$numberDecimal": "0.0"
        }
    },
    {
        "date": {
            "$date": "2020-03-26T00:00:00Z"
        },
        "continent": "Asia",
        "country": "Afghanistan",
        "totalConfirmed": 80,
        "totalDeaths": 2,
        "confirmedDay": 6,
        "deathsDay": 1,
        "icuPatients": "0",
        "hospPatients": "0",
        "positiveRate": {
            "$numberDecimal": "0.0"
        },
        "newVaccinations": 0,
        "vaccinatedPerHundred": {
            "$numberDecimal": "0.0"
        },
        "fullyVaccinatedPerHundred": {
            "$numberDecimal": "0.0"
        }
    }]

In [16]:
def alldb (core_df):
    import pandas as pd
    core_df = pd.DataFrame(core_df, columns = ['date', 'continent','country', 'totalConfirmed', 'confirmedDay','deathsDay','icuPatients', 'hospPatients','positiveRate','newVaccinations','vaccinatedPerHundred','fullyVaccinatedPerHundred'])
    core_df['date'] = core_df['date'].apply(lambda x: list(x.values())[0][0:10])
    core_df['positiveRate'] = core_df['positiveRate'].apply(lambda x: list(x.values())[0])
    core_df['vaccinatedPerHundred'] = core_df['vaccinatedPerHundred'].apply(lambda x: list(x.values())[0])
    core_df['fullyVaccinatedPerHundred'] = core_df['fullyVaccinatedPerHundred'].apply(lambda x: list(x.values())[0])
    core_df['date'] = pd.to_datetime(core_df['date'])
    return core_df

In [11]:
db[0]['date']

{'$date': '2020-03-23T00:00:00Z'}

In [17]:
list(db[0]['date'].values())[0][0:10]

'2020-03-23'

In [18]:
alldb(db)

,date,continent,country,totalConfirmed,confirmedDay,deathsDay,icuPatients,hospPatients,positiveRate,newVaccinations,vaccinatedPerHundred,fullyVaccinatedPerHundred
0,2020-03-23,Asia,Afghanistan,40,6,1,0,0,0.0,0,0.0,0.0
1,2020-03-26,Asia,Afghanistan,80,6,1,0,0,0.0,0,0.0,0.0

In [7]:
def variant_db_TR (core_df):
    import pandas as pd
    core_df = pd.DataFrame(core_df, columns = ['date', 'country','variant', 'year', 'latitude','longitude','continentExp'])
    core_df['date'] = core_df['date'].apply(lambda x: list(x.values())[0][0:10])
    core_df['latitude'] = core_df['latitude'].apply(lambda x: list(x.values())[0]).astype(float)
    core_df['longitude'] = core_df['longitude'].apply(lambda x: list(x.values())[0]).astype(float)
    core_df['year'] = core_df['year'].astype(int)
    core_df['variant'] = core_df['variant'].astype(str)
    core_df['continentExp'] = core_df['continentExp'].astype(str)
    core_df['date'] = pd.to_datetime(core_df['date'])
    return core_df

In [2]:
variantes = [
    {
        "date": {
            "$date": "2020-07-06T00:00:00Z"
        },
        "country": "Angola",
        "variant": "Delta",
        "year": 2020,
        "yearWeek": "2020-28",
        "latitude": {
            "$numberDecimal": "-8.833333333333334"
        },
        "longitude": {
            "$numberDecimal": "13.216667"
        },
        "continentExp": "Africa"
    },
    {
        "date": {
            "$date": "2020-08-31T00:00:00Z"
        },
        "country": "Angola",
        "variant": "Delta",
        "year": 2020,
        "yearWeek": "2020-36",
        "latitude": {
            "$numberDecimal": "-8.833333333333334"
        },
        "longitude": {
            "$numberDecimal": "13.216667"
        },
        "continentExp": "Africa"
    }]

In [3]:
variantes[0]

{'date': {'$date': '2020-07-06T00:00:00Z'},
 'country': 'Angola',
 'variant': 'Delta',
 'year': 2020,
 'yearWeek': '2020-28',
 'latitude': {'$numberDecimal': '-8.833333333333334'},
 'longitude': {'$numberDecimal': '13.216667'},
 'continentExp': 'Africa'}

In [8]:
variant_db_TR(variantes)

        date country variant  year  latitude  longitude continentExp
0 2020-07-06  Angola   Delta  2020 -8.833333  13.216667       Africa
1 2020-08-31  Angola   Delta  2020 -8.833333  13.216667       Africa

In [20]:
def variant_TR (core_df):
    import pandas as pd
    core_df = pd.DataFrame(core_df, columns = ['date', 'country','variant', 'year', 'latitude','longitude','continentExp'])
    core_df = core_df.drop(['date', 'country', 'year', 'latitude','longitude','continentExp'], axis=1)
    core_df['variant'] = core_df['variant'].astype(str)
    core_df = core_df.drop_duplicates()
    return list(core_df['variant'])

In [23]:
a = variant_TR(variantes)

In [25]:
type(a)

list