In [385]:
import pandas as pd
import numpy as np

In [386]:
def variant_db_TR (core_df):
    core_df = pd.DataFrame(core_df, columns = ['date', 'country','variant', 'year', 'latitude','longitude','continentExp'])
    core_df['date'] = core_df['date'].apply(lambda x: list(x.values())[0][0:10])
    core_df['latitude'] = core_df['latitude'].apply(lambda x: list(x.values())[0]).astype(float)
    core_df['longitude'] = core_df['longitude'].apply(lambda x: list(x.values())[0]).astype(float)
    core_df['year'] = core_df['year'].astype(int)
    core_df['variant'] = core_df['variant'].astype(str)
    core_df['continentExp'] = core_df['continentExp'].astype(str)
    core_df['date'] = pd.to_datetime(core_df['date'])
    return core_df

In [387]:
variantes = [
    {
        "date": {
            "$date": "2020-07-06T00:00:00Z"
        },
        "country": "Angola",
        "variant": "Delta",
        "year": 2020,
        "yearWeek": "2020-28",
        "latitude": {
            "$numberDecimal": "-8.833333333333334"
        },
        "longitude": {
            "$numberDecimal": "13.216667"
        },
        "continentExp": "Africa"
    },
    {
        "date": {
            "$date": "2020-08-31T00:00:00Z"
        },
        "country": "Angola",
        "variant": "Delta",
        "year": 2020,
        "yearWeek": "2020-36",
        "latitude": {
            "$numberDecimal": "-8.833333333333334"
        },
        "longitude": {
            "$numberDecimal": "13.216667"
        },
        "continentExp": "Africa"
    }]

In [388]:
variantes[0]

{'date': {'$date': '2020-07-06T00:00:00Z'},
 'country': 'Angola',
 'variant': 'Delta',
 'year': 2020,
 'yearWeek': '2020-28',
 'latitude': {'$numberDecimal': '-8.833333333333334'},
 'longitude': {'$numberDecimal': '13.216667'},
 'continentExp': 'Africa'}

In [389]:
variant_db_TR(variantes)

        date country variant  year  latitude  longitude continentExp
0 2020-07-06  Angola   Delta  2020 -8.833333  13.216667       Africa
1 2020-08-31  Angola   Delta  2020 -8.833333  13.216667       Africa

In [390]:
def variant_TR (core_df):
    core_df = pd.DataFrame(core_df, columns = ['date', 'country','variant', 'year', 'latitude','longitude','continentExp'])
    core_df = core_df.drop(['date', 'country', 'year', 'latitude','longitude','continentExp'], axis=1)
    core_df['variant'] = core_df['variant'].astype(str)
    core_df = core_df.drop_duplicates()
    return list(core_df['variant'])

In [391]:
a = variant_TR(variantes)

In [392]:
import pandas as pd
import numpy as np

In [393]:
df = pd.DataFrame(
    np.random.randn(1000, 2) / [50, 50] + [37.76, -122.4],
    columns=['lat', 'lon'])

In [394]:
df

           lat         lon
0    37.800044 -122.378374
1    37.741881 -122.399531
2    37.772282 -122.442682
3    37.767684 -122.411914
4    37.748932 -122.375901
..         ...         ...
995  37.777036 -122.423694
996  37.802760 -122.415860
997  37.739344 -122.431638
998  37.750786 -122.377216
999  37.781171 -122.391465

[1000 rows x 2 columns]

In [395]:
GREAT_CIRCLE_LAYER_DATA = "https://raw.githubusercontent.com/visgl/deck.gl-data/master/website/flights.json"  # noqa

df = pd.read_json(GREAT_CIRCLE_LAYER_DATA)

In [396]:
df

,from,to
0,"{'type': 'major', 'name': 'San Francisco Int'l...","{'type': 'major', 'name': 'Liverpool John Lenn..."
1,"{'type': 'major', 'name': 'San Francisco Int'l...","{'type': 'major', 'name': 'Newcastle Int'l', '..."
2,"{'type': 'major', 'name': 'San Francisco Int'l...","{'type': 'major', 'name': 'Madinah Int'l', 'ab..."
3,"{'type': 'major', 'name': 'San Francisco Int'l...","{'type': 'major', 'name': 'Sakirpasa', 'abbrev..."
4,"{'type': 'major', 'name': 'San Francisco Int'l...","{'type': 'major', 'name': 'Amarillo Int'l', 'a..."
5,"{'type': 'major', 'name': 'San Francisco Int'l...","{'type': 'major', 'name': 'Birmingham Int'l', ..."
6,"{'type': 'major', 'name': 'San Francisco Int'l...","{'type': 'major', 'name': 'Logan Int'l', 'abbr..."
7,"{'type': 'major', 'name': 'San Francisco Int'l...","{'type': 'major', 'name': 'Bourgas', 'abbrev':..."
8,"{'type': 'major', 'name': 'San Francisco Int'l...","{'type': 'major', 'name': 'Bremen', 'abbrev': ..."
9,"{'type': 'major', 'name': 'San Francisco Int'l...","{'type': 'major', 'name': 'Bristol Int'l', 'ab..."
10,"{'type': 'major', 'name': 'San Francisco Int'l...","{'type': 'major', 'name': 'Baton Rouge Metro',..."
11,"{'type': 'major', 'name': 'San Francisco Int'l...","{'type': 'major', 'name': 'Bratislava-M.R. Ste..."
12,"{'type': 'major', 'name': 'San Francisco Int'l...","{'type': 'major', 'name': 'Columbia Metro', 'a..."
13,"{'type': 'major', 'name': 'San Francisco Int'l...","{'type': 'major', 'name': 'Casper/Natrona Coun..."
14,"{'type': 'major', 'name': 'San Francisco Int'l...","{'type': 'major', 'name': 'Catania Fontanaross..."
15,"{'type': 'major', 'name': 'San Francisco Int'l...","{'type': 'major', 'name': 'Cardiff', 'abbrev':..."
16,"{'type': 'major', 'name': 'San Francisco Int'l...","{'type': 'major', 'name': 'James M. Cox Dayton..."
17,"{'type': 'major', 'name': 'San Francisco Int'l...","{'type': 'major', 'name': 'Washington Nat'l', ..."
18,"{'type': 'major', 'name': 'San Francisco Int'l...","{'type': 'major', 'name': 'Donetsk', 'abbrev':..."
19,"{'type': 'major', 'name': 'San Francisco Int'l...","{'type': 'major', 'name': 'Edinburgh Int'l', '..."

In [397]:
def list_varaibles (var):
    lista = list(var[0].keys())
    lista_delete = ['date','country','continent','latitude','longitude',
                    'Year','Month','Week','Day','Year-Week']
    for x in lista_delete:
        if x in lista:
            lista.remove(x)
    return lista

In [398]:
country1 = [
    {
        "date": {
            "$date": "2020-03-03T00:00:00Z"
        },
        "country": "Spain",
        "totalConfirmed": 165
    },
    {
        "date": {
            "$date": "2020-03-04T00:00:00Z"
        },
        "country": "Spain",
        "totalConfirmed": 222
    },
    {
        "date": {
            "$date": "2020-03-05T00:00:00Z"
        },
        "country": "Spain",
        "totalConfirmed": 259
    },
    {
        "date": {
            "$date": "2020-03-06T00:00:00Z"
        },
        "country": "Spain",
        "totalConfirmed": 400
    }]

In [399]:
list_varaibles(country1)

['totalConfirmed']

In [400]:
country2 = [
    {
        "date": {
            "$date": "2020-03-03T00:00:00Z"
        },
        "country": "Austria",
        "totalConfirmed": 302
    },
    {
        "date": {
            "$date": "2020-03-04T00:00:00Z"
        },
        "country": "Austria",
        "totalConfirmed": 1018
    },
    {
        "date": {
            "$date": "2020-03-05T00:00:00Z"
        },
        "country": "Austria",
        "totalConfirmed": 1646
    },
    {
        "date": {
            "$date": "2020-03-06T00:00:00Z"
        },
        "country": "Austria",
        "totalConfirmed": 2013
    },
    {
        "date": {
            "$date": "2020-03-07T00:00:00Z"
        },
        "country": "Austria",
        "totalConfirmed": 2013
    }]

In [401]:
fecha_inicio = '2020-03-04'
fecha_fin = '2020-03-06'


def limpieza_variables_pais (var):
    lista = list(var[0].keys())
    lista_delete = ['continent','latitude','longitude',
                    'Year','Month','Week','Day','Year-Week']
    for x in lista_delete:
        if x in lista:
            lista.remove(x)
    return lista

var = 'totalConfirmed'

def country_one_var_df (core_df,var,fecha_inicial,fecha_final):
    columnas = limpieza_variables_pais(core_df)
    core_df = pd.DataFrame(core_df, columns = columnas)
    core_df = core_df.drop(core_df.columns.difference(['date','country',var]),axis=1)
    core_df['date'] = core_df['date'].apply(lambda x: list(x.values())[0][0:10])
    core_df[var] = core_df[var].astype(float)
    core_df['country'] = core_df['country'].astype(str)
    country_name = core_df['country'][0]
    core_df = core_df.rename(columns={var: country_name})
    core_df = core_df.drop(['country'],axis=1)
    core_df['date'] = pd.to_datetime(core_df['date'])
    filter_fecha_inicial = core_df['date'] >= fecha_inicial
    core_df = core_df[filter_fecha_inicial]
    filter_fecha_final = core_df['date'] <= fecha_final
    core_df = core_df[filter_fecha_final]

    return core_df

In [402]:
def limpieza_variables_pais (country1):
    lista = list(country1[0].keys())
    lista_delete = ['continent','latitude','longitude',
                    'Year','Month','Week','Day','Year-Week']
    for x in lista_delete:
        if x in lista:
            lista.remove(x)
    return lista

limpieza_variables_pais (country1)

[{'date': {'$date': '2020-03-03T00:00:00Z'}, 'country': 'Spain', 'totalConfirmed': 165}, {'date': {'$date': '2020-03-04T00:00:00Z'}, 'country': 'Spain', 'totalConfirmed': 222}, {'date': {'$date': '2020-03-05T00:00:00Z'}, 'country': 'Spain', 'totalConfirmed': 259}, {'date': {'$date': '2020-03-06T00:00:00Z'}, 'country': 'Spain', 'totalConfirmed': 400}]
['date', 'country', 'totalConfirmed']

['date', 'country', 'totalConfirmed']

In [403]:
df_country1 = country_one_var_df(country1,'totalConfirmed',fecha_inicio,fecha_fin)
df_country1

[{'date': {'$date': '2020-03-03T00:00:00Z'}, 'country': 'Spain', 'totalConfirmed': 165}, {'date': {'$date': '2020-03-04T00:00:00Z'}, 'country': 'Spain', 'totalConfirmed': 222}, {'date': {'$date': '2020-03-05T00:00:00Z'}, 'country': 'Spain', 'totalConfirmed': 259}, {'date': {'$date': '2020-03-06T00:00:00Z'}, 'country': 'Spain', 'totalConfirmed': 400}]
['date', 'country', 'totalConfirmed']

        date  Spain
1 2020-03-04  222.0
2 2020-03-05  259.0
3 2020-03-06  400.0

In [404]:
df_country2 = country_one_var_df(country2,'totalConfirmed',fecha_inicio,fecha_fin)
df_country2

[{'date': {'$date': '2020-03-03T00:00:00Z'}, 'country': 'Austria', 'totalConfirmed': 302}, {'date': {'$date': '2020-03-04T00:00:00Z'}, 'country': 'Austria', 'totalConfirmed': 1018}, {'date': {'$date': '2020-03-05T00:00:00Z'}, 'country': 'Austria', 'totalConfirmed': 1646}, {'date': {'$date': '2020-03-06T00:00:00Z'}, 'country': 'Austria', 'totalConfirmed': 2013}, {'date': {'$date': '2020-03-07T00:00:00Z'}, 'country': 'Austria', 'totalConfirmed': 2013}]
['date', 'country', 'totalConfirmed']

        date  Austria
1 2020-03-04   1018.0
2 2020-03-05   1646.0
3 2020-03-06   2013.0

In [405]:
def merge_country_data(df1,df2):
    df = pd.merge(df1, df2 , how='inner', on='date')
    df = df.set_index('date')
    return df

merge_country_data(df_country1,df_country2)

            Spain  Austria
date
2020-03-04  222.0   1018.0
2020-03-05  259.0   1646.0
2020-03-06  400.0   2013.0

Funcion comparacion de paises

In [406]:
# Recibo un dataframe, nombre pais 1, nombre pais 2, nombre de la columna
# fecha inicio y fecha final

In [411]:
var  = country1

In [412]:
def limpieza_variables_pais (var):
    lista = list(var[0].keys())
    lista_delete = ['continent','latitude','longitude',
                    'Year','Month','Week','Day','Year-Week']
    for x in lista_delete:
        if x in lista:
            lista.remove(x)
    return lista

In [413]:
limpieza_variables_pais (var)

['date', 'country', 'totalConfirmed']