In [88]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

In [89]:
url_confirmed_global = "https://data.humdata.org/hxlproxy/api/data-preview.csv?url=https%3A%2F%2Fraw.githubusercontent.com%2FCSSEGISandData%2FCOVID-19%2Fmaster%2Fcsse_covid_19_data%2Fcsse_covid_19_time_series%2Ftime_series_covid19_confirmed_global.csv&filename=time_series_covid19_confirmed_global.csv"
df1 = pd.read_csv(url_confirmed_global)

df1 = df1.drop(['Province/State'], axis=1)
df1 = df1.drop(['Lat'], axis=1)
df1 = df1.drop(['Long'], axis=1)
df1 = df1.groupby(['Country/Region']).sum().reset_index()
df1 = df1.melt(id_vars=["Country/Region"], 
        var_name="Date", 
        value_name="Confirmed")
df1['Date-Country'] = df1['Date'] + df1['Country/Region']

#df1.set_index('Date-Country')

In [90]:
url_deaths_global = "https://data.humdata.org/hxlproxy/api/data-preview.csv?url=https%3A%2F%2Fraw.githubusercontent.com%2FCSSEGISandData%2FCOVID-19%2Fmaster%2Fcsse_covid_19_data%2Fcsse_covid_19_time_series%2Ftime_series_covid19_deaths_global.csv&filename=time_series_covid19_deaths_global.csv"
df2 = pd.read_csv(url_deaths_global)

df2 = df2.drop(['Province/State'], axis=1)
df2 = df2.drop(['Lat'], axis=1)
df2 = df2.drop(['Long'], axis=1)
df2 = df2.groupby(['Country/Region']).sum().reset_index()
df2 = df2.melt(id_vars=["Country/Region"], 
        var_name="Date", 
        value_name="Deaths")
df2['Date-Country'] = df2['Date'] + df2['Country/Region']

#df2.set_index('Date-Country')

In [91]:
url_recovered_global = "https://data.humdata.org/hxlproxy/api/data-preview.csv?url=https%3A%2F%2Fraw.githubusercontent.com%2FCSSEGISandData%2FCOVID-19%2Fmaster%2Fcsse_covid_19_data%2Fcsse_covid_19_time_series%2Ftime_series_covid19_recovered_global.csv&filename=time_series_covid19_recovered_global.csv"
df3 = pd.read_csv(url_recovered_global)\
        
df3 = df3.drop(['Province/State'], axis=1)
df3 = df3.drop(['Lat'], axis=1)
df3 = df3.drop(['Long'], axis=1)
df3 = df3.groupby(['Country/Region']).sum().reset_index()
df3 = df3.melt(id_vars=["Country/Region"], 
        var_name="Date", 
        value_name="Recovered")
df3['Date-Country'] = df3['Date'] + df3['Country/Region']
#df3.set_index('Date-Country')

In [92]:
# Creo un primer dataframe final (df_f1), mergeando df1 y df2 por 'Date-Country'
df = pd.merge(df1, df2 , how='left', on='Date-Country')

# Creo un sefundo dataframe final, mergeando el anterior dataframe (df_f1) y df3 por 'Date-Country'
df = pd.merge(df, df3 , how='left', on='Date-Country')
df

,Country/Region_x,Date_x,Confirmed,Date-Country,Country/Region_y,Date_y,Deaths,Country/Region,Date,Recovered
0,Afghanistan,1/22/20,0,1/22/20Afghanistan,Afghanistan,1/22/20,0,Afghanistan,1/22/20,0
1,Albania,1/22/20,0,1/22/20Albania,Albania,1/22/20,0,Albania,1/22/20,0
2,Algeria,1/22/20,0,1/22/20Algeria,Algeria,1/22/20,0,Algeria,1/22/20,0
3,Andorra,1/22/20,0,1/22/20Andorra,Andorra,1/22/20,0,Andorra,1/22/20,0
4,Angola,1/22/20,0,1/22/20Angola,Angola,1/22/20,0,Angola,1/22/20,0
...,...,...,...,...,...,...,...,...,...,...
139155,Vietnam,12/31/21,1731257,12/31/21Vietnam,Vietnam,12/31/21,32394,Vietnam,12/31/21,0
139156,West Bank and Gaza,12/31/21,469748,12/31/21West Bank and Gaza,West Bank and Gaza,12/31/21,4919,West Bank and Gaza,12/31/21,0
139157,Yemen,12/31/21,10126,12/31/21Yemen,Yemen,12/31/21,1984,Yemen,12/31/21,0
139158,Zambia,12/31/21,254274,12/31/21Zambia,Zambia,12/31/21,3734,Zambia,12/31/21,0
139159,Zimbabwe,12/31/21,213258,12/31/21Zimbabwe,Zimbabwe,12/31/21,5004,Zimbabwe,12/31/21,0

In [93]:
#Elimino las columnas duplicadas
df = df.drop(['Country/Region_x', 'Date_x', 'Date_y', 'Date-Country', 'Country/Region_y'], axis=1)

# Reordeno las Columnas
df = df[['Country/Region','Date','Confirmed','Deaths','Recovered']]
df = df.rename(columns={'Country/Region':'Country'})
df

                   Country      Date  Confirmed  Deaths  Recovered
0              Afghanistan   1/22/20          0       0          0
1                  Albania   1/22/20          0       0          0
2                  Algeria   1/22/20          0       0          0
3                  Andorra   1/22/20          0       0          0
4                   Angola   1/22/20          0       0          0
...                    ...       ...        ...     ...        ...
139155             Vietnam  12/31/21    1731257   32394          0
139156  West Bank and Gaza  12/31/21     469748    4919          0
139157               Yemen  12/31/21      10126    1984          0
139158              Zambia  12/31/21     254274    3734          0
139159            Zimbabwe  12/31/21     213258    5004          0

[139160 rows x 5 columns]

In [94]:
df['Date'] = pd.to_datetime(df.Date)

filter_continent = df['Country'].isin(['Austria','Spain'])
df = df[filter_continent]

df = df.sort_values(['Country','Date'], ascending=[True, True])
df = df.reset_index(drop=True)
df.dtypes

Country              object
Date         datetime64[ns]
Confirmed             int64
Deaths                int64
Recovered             int64
dtype: object

In [95]:
def clean_negative (number):
    if int(number) < 0:
        return str(0)
    else:
        return str(number)
    

df['Confirmed_i'] = df['Confirmed'].diff()
df['Confirmed_i'] = df['Confirmed_i'].fillna(0).astype(int)
df['Confirmed_i'] = df['Confirmed_i'].apply(clean_negative).astype(int)

df['Confirmed_i'] = df['Confirmed'].diff()
df['Confirmed_i'] = df['Confirmed_i'].fillna(0).astype(int)
df['Confirmed_i'] = df['Confirmed_i'].apply(clean_negative).astype(int)
df

      Country       Date  Confirmed  Deaths  Recovered  Confirmed_i
0     Austria 2020-01-22          0       0          0            0
1     Austria 2020-01-23          0       0          0            0
2     Austria 2020-01-24          0       0          0            0
3     Austria 2020-01-25          0       0          0            0
4     Austria 2020-01-26          0       0          0            0
...       ...        ...        ...     ...        ...          ...
1415    Spain 2021-12-27    5932626   89139          0       214619
1416    Spain 2021-12-28    6032297   89253          0        99671
1417    Spain 2021-12-29    6133057   89331          0       100760
1418    Spain 2021-12-30    6294745   89405          0       161688
1419    Spain 2021-12-31    6294745   89405          0            0

[1420 rows x 6 columns]

In [96]:
df[df['Country'] == 'Spain']

     Country       Date  Confirmed  Deaths  Recovered  Confirmed_i
710    Spain 2020-01-22          0       0          0            0
711    Spain 2020-01-23          0       0          0            0
712    Spain 2020-01-24          0       0          0            0
713    Spain 2020-01-25          0       0          0            0
714    Spain 2020-01-26          0       0          0            0
...      ...        ...        ...     ...        ...          ...
1415   Spain 2021-12-27    5932626   89139          0       214619
1416   Spain 2021-12-28    6032297   89253          0        99671
1417   Spain 2021-12-29    6133057   89331          0       100760
1418   Spain 2021-12-30    6294745   89405          0       161688
1419   Spain 2021-12-31    6294745   89405          0            0

[710 rows x 6 columns]

In [97]:
df[df['Country'] == 'Austria']

     Country       Date  Confirmed  Deaths  Recovered  Confirmed_i
0    Austria 2020-01-22          0       0          0            0
1    Austria 2020-01-23          0       0          0            0
2    Austria 2020-01-24          0       0          0            0
3    Austria 2020-01-25          0       0          0            0
4    Austria 2020-01-26          0       0          0            0
..       ...        ...        ...     ...        ...          ...
705  Austria 2021-12-27    1266103   13650          0         1550
706  Austria 2021-12-28    1268519   13672          0         2416
707  Austria 2021-12-29    1271770   13689          0         3251
708  Austria 2021-12-30    1274995   13701          0         3225
709  Austria 2021-12-31    1278619   13733          0         3624

[710 rows x 6 columns]

In [98]:
1266103 - 1268519

-2416

In [99]:
'''
df4 = pd.read_csv("data_extra/concap.csv")
df4 = df4.drop(['CapitalName'], axis=1)
df4 = df4.drop_duplicates()

filter_continent = df4['ContinentName'] == 'Europe'
df4 = df4[filter_continent]

df4 = df4.rename(columns={'CountryName':'Country',
                          'CapitalLatitude':'Lat', 
                          'CapitalLongitude':'Long', 
                          'CountryCode':'geoId',
                          'ContinentName':'continentExp'})
df = pd.merge(df, df4 , how='left', on='Country')

filter_europe = df['continentExp'] == 'Europe'
df = df[filter_europe]
df = df.sort_values(['Country','Date'], ascending=[True, True])
df = df.reset_index(drop=True)
df
'''

'\ndf4 = pd.read_csv("data_extra/concap.csv")\ndf4 = df4.drop([\'CapitalName\'], axis=1)\ndf4 = df4.drop_duplicates()\n\nfilter_continent = df4[\'ContinentName\'] == \'Europe\'\ndf4 = df4[filter_continent]\n\ndf4 = df4.rename(columns={\'CountryName\':\'Country\',\n                          \'CapitalLatitude\':\'Lat\', \n                          \'CapitalLongitude\':\'Long\', \n                          \'CountryCode\':\'geoId\',\n                          \'ContinentName\':\'continentExp\'})\ndf = pd.merge(df, df4 , how=\'left\', on=\'Country\')\n\nfilter_europe = df[\'continentExp\'] == \'Europe\'\ndf = df[filter_europe]\ndf = df.sort_values([\'Country\',\'Date\'], ascending=[True, True])\ndf = df.reset_index(drop=True)\ndf\n'